.errorpage {
    width: 100vw;
    height: 100vh;
    background: url(../img/error/404page.svg);
    background-size: cover;
    background-position: center center;
}

@media screen and (max-width: $menuMobileMax) {
    .errorpage {
        background-position: center right;
    }
}

.dark {
    .errorpage {
        width: 100vw;
        height: 100vh;
        background: url(../img/error/404pagedark.svg);
        background-size: cover;
        background-position: center center;
    }
    
    @media screen and (max-width: $menuMobileMax) {
        .errorpage {
            background-position: center right;
        }
    }
}
