$sidebarWidth: 15.5rem;
$sidebarWidthClosed: 4.8125rem;
$navSidebarTop: 4.68rem;
$transitiontime: 0.3s;
$hover-move: 0.4375rem;
$topMargin: #{$navSidebarTop + 0.625}; //5.3125rem;
html {
    //  font-size: 0.7813vw;
}
//--------------------------------------toggle button---------------------------------------------------------------//
.toggle-container {
    font-size: 0.2rem;
    display: flex;
    justify-content: center;
    padding: 0.75rem 0;
}
.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.toggle-slot {
    position: relative;
    height: 10.4em;
    width: 20em;
    border: 0.3125em solid #e4e7ec;
    border-radius: 10em;
    background-color: transparent;
    transition: background-color 250ms;
}
.toggle-checkbox:checked ~ .toggle-slot {
    background-color: $ice;
}
.toggle-button {
    transform: translate(11.75em, 1.75em);
    position: absolute;
    height: 6.5em;
    width: 6.5em;
    border-radius: 50%;
    background-color: transparent;
    border: 1em solid #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}
.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: transparent;
    border-color: #485367;
    transform: translate(1.75em, 1.5em);
}
.sun-icon {
    position: absolute;
    height: 6em;
    width: 6em;
    color: #ffbb52;
}
.sun-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 1;
    transform: translate(2em, 2em) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}
.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(3em, 2em) rotate(0deg);
}
.moon-icon {
    position: absolute;
    height: 6em;
    width: 6em;
    color: white;
}
.moon-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 0;
    transform: translate(11em, 2em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71);
}
.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(12em, 2em) rotate(-15deg);
}

//----------------------------------------toggle button end-------------------------------------------------------------//
.nav-text1 {
    display: flex;
    align-items: center;
    font-size: 0.8125rem;
    color: $black_blue;
    > span {
        .first-el & {
            font-weight: bold;
        }
    }
}
.side-nav-list {
    .nav-text1 span.light {
        width: 0.625rem;
        height: 0.625rem;
        border-radius: 0.3125rem;
        margin-right: 0.625em;
        flex-basis: 0.875rem;
    }
    .user_name {
        font-size: 1.1875rem;
        word-break: normal;
        white-space: nowrap;
    }
    .icon-t {
        font-size: 1.625rem;
        margin-left: 2rem;
    }
}
.close-menu {
    fill: $ice;
}
.logo {
    cursor: pointer;
}
.logo-button {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    .img {
        width: 4.625rem;
        height: 9rem;
    }
}
.close-menu-cont {
    display: none;
}
.navbar {
    padding: 0;
}
.navdown {
    color: #cacad5;
    font-size: 0.9375rem;
    margin-right: 0.5rem;
}
nav.sidebar.navbar,
main,
.logo,
.curve,
.burger-menu,
.logo-text,
.icon-fi-sr-menu-burger {
    transition-duration: $transitiontime;
    transition-timing-function: ease-in;
}
img.logo-img {
    width: 3rem;
    transition: width 0.3s;
}
.logo-box {
    height: $navSidebarTop;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav.sidebar.navbar {
    align-items: flex-start;
    justify-content: flex-start;
    width: $sidebarWidth;
    transition-property: width;
    height: 100%;
    position: fixed;
    top: $navSidebarTop;
    left: 0;
    bottom: 0;
    z-index: 1;
    padding-top: 1.28125rem;
    overflow: hidden;
    &.right {
        display: none;
    }
    .closeNav.hover & {
        width: $sidebarWidth;
    }
    ul.side-nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
        max-height: calc(100% - 9rem);
    }
    li.nav-list-item2 {
        width: $sidebarWidth;
        display: flex;
        color: $light_grey;
        flex-wrap: wrap;
        cursor: pointer;
        transition: padding-left 0.3s, background 0.3s;
        a {
            transition: all 0.3s;
            color: #fff;
            text-decoration: none;
            opacity: 0;
            display: block;
        }
        .list-pad {
            height: 0rem;
            transition: height.3s, padding-left 0.3s;
            padding-left: $sidebarWidthClosed;
            font-size: 1rem;
            display: flex;
            align-items: center;
            &:hover {
                padding-left: calc(#{$sidebarWidthClosed} + #{$hover-move});
            }
        }
        &:hover {
            padding-left: $hover-move;
        }
        &.opennav1:hover {
            padding-left: 0rem;
        }
        .sub-category {
            width: 100%;
            overflow: hidden;
        }
        .nav-text2 {
            position: relative;
            justify-content: flex-start;
            align-items: center;
            display: flex;
            font-size: 1rem;
            flex-grow: 1;
            &.title {
                display: none;
            }
            span.arrow-right {
                position: absolute;
                font-size: 0.9375rem;
                right: 1.1875rem;
                .icon-fi-sr-angle-right {
                    transition: transform 0.3s;
                }
                &.hide {
                    display: none;
                }
            }
        }
    }
    .img-box {
        height: $navSidebarTop;
        width: $sidebarWidthClosed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        span.nav-icons-side {
            color: $light_grey;
            font-size: 1.2rem;
        }
    }
}
.nav-text1 {
    justify-content: center;
}
span.light {
    width: 0.625em;
    height: 0.625em;
    border-radius: 0.3125em;
    margin-right: 0.625em;
    transition: all 0.3s;
}
.paddingEl {
    @media (max-width: $md) {
        height: $navSidebarTop;
    }
}
.nav-list.user-icons {
    $width: 4.9375rem;
    display: flex;
    font-size: 1.125rem;
    height: $navSidebarTop;
    padding: 0.781rem 0;
    margin-left: auto;
    .nav-icon-3 {
        &:first-of-type {
            border-left: 0rem;
        }
        &.search{
            min-width: $width;
            width: auto;
            flex:1 0 auto;
            
        }
        height: auto;
        width: $width;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 0.025rem solid $light_grey;
        cursor: pointer;
        flex: 1 0 4.9375rem;
        .rel-icon {
            position: relative;
            .num {
                position: absolute;
                top: -0.5rem;
                right: -0.25rem;
                font-size: 0.5625rem;
                background: $red;
                color: #fff;
                border-radius: 50%;
                height: 1rem;
                width: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 0;
            }
        }
    }
}
nav.sidebar.top {
    height: $navSidebarTop;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    .nav-container {
        flex-grow: 1;
        display: flex;
    }
    .nav-list.list1 {
        display: flex;
        height: $navSidebarTop;
        position: relative;
        left: 0.25rem;
        .custom-popup {
            a {
                display: flex;
                justify-content: space-between;
                height: 2.5em;
                align-items: center;
                transition: padding-left 0.3s;
                padding: 0 1.2em;
                text-decoration: none;
                &.button2 {
                    color: #ffffff;
                    border-radius: 0.6rem;
                }
                &:hover {
                    padding-left: 1.875rem;
                }
            }
        }
    }
    
    .nav-list-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        span.user_mail {
            position: absolute;
            bottom: 0.75rem;
            font-size: 0.625rem;
            font-weight: normal;
            color: $black_blue;
        }
        padding: 0 1.406rem;
        &:first-of-type {
            margin-left: 1.094rem;
        }
    }
    .nav-list.search {
       
        padding-right:1.25rem;
        .nav-text1 {
            justify-content: center;
        }
    }
}
main {
    padding-top: $navSidebarTop;
    padding-left: $sidebarWidth;
    transition-property: padding-left;
}
.logo {
    width: $sidebarWidth;
    transition-property: width;
    height: 100%;
    position: relative;
    justify-content: center;
    display: flex;
    .logo-text {
        height: 100%;
        display: flex;
        align-items: center;
        transition-property: width, opacity;
        overflow: hidden;
        width: 6.87rem;
        opacity: 1;
        .closeNav & {
            width: 0;
            opacity: 0;
        }
        .closeNav.hover & {
            width: 6.87rem;
            opacity: 1;
        }
    }
    span.icon-logo_text {
        font-size: 1.8rem;
        position: relative;
        left: 0;
        padding-left: 0.6875rem;
        padding-right: 0.9375rem;
    }
}
.closeNav {
    nav.sidebar.navbar {
        width: $sidebarWidthClosed;
    }
    main {
        padding-left: $sidebarWidthClosed;
    }
    .logo {
        width: $sidebarWidthClosed;
        img {
            width: 2.5rem;
        }
    }
}
.nav-list-item.first-el {
    .custom-popup {
        left: 0;
    }
}
.closeNav.hover {
    .logo {
        width: $sidebarWidth;
    }
}
.burger-menu-container {
    height: 100%;
}
.curve {
    height: 100%;
    position: absolute;
    right: -0.06rem;
    transition-property: width;
}
.curve {
    top: 0;
    height: 100%;
    position: absolute;
    right: -0.06rem;
    transition-duration: #{$transitiontime / 2};
}
.curve.c2 {
    left: 99%;
}
.curve.c1 {
    width: 1.871rem;
    transition-delay: #{$transitiontime / 2};
}
.curve.c2 {
    transition-delay: 0s;
    width: 0;
}
.closeNav {
    .curve.c1 {
        transition-delay: 0s;
        width: 0;
    }
    .curve.c2 {
        width: 1.871rem;
        transition-delay: #{$transitiontime / 2};
    }
}
.burger-menu {
    position: absolute;
    top: 0;
    right: -0.312rem;
    z-index: 1;
    height: $navSidebarTop;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: right;
    cursor: pointer;
    .icon-fi-sr-menu-burger {
        font-size: 1.25rem;
        transition-property: transform;
        .closeNav & {
            transform: rotate(90deg);
        }
    }
}
.closeNav {
    .burger-menu {
        right: -1.187rem;
    }
}
body:not(.closeNav) nav.sidebar.navbar li.nav-list-item2.nav-list-item2.opennav1,
body.closeNav.hover nav.sidebar.navbar li.nav-list-item2.nav-list-item2.opennav1 {
    color: $black_blue;
    background: $ice;
    a {
        color: $black_blue;
        text-decoration: none;
        opacity: 1;
    }
    .icon-fi-sr-angle-right {
        transform: rotate(90deg);
    }
    .img-box span.nav-icons-side {
        color: $black_blue;
    }
    .list-pad {
        height: 2.4375rem;
    }
}
nav.sidebar.navbar li.nav-list-item2 {
    .nav-text2 span.arrow-right .icon-fi-sr-angle-right {
        transition: transform 0.3s;
        display: none;
    }
    &.subcategory {
        .nav-text2 span.arrow-right .icon-fi-sr-angle-right {
            display: block;
        }
    }
}
//search input topic
.nav-list.search {
    display: flex;
    justify-content: center;
    align-items: center;
}
input.search-top {
    width: 16.4375rem;
    height: 1.625rem;
    border-radius: 0.8125rem;
    border: 0.025rem solid darken($ice, 8%);
}
.custom-popup .search-cont {
    display: flex;
 @media (min-width: #{$xxxl+1}){
    display: none;
}
    
   


    
}
.search-cont {
    border: 0.025rem solid darken($ice, 8%);
    padding: 0.125rem;
    background-color: $ice;
    border-radius: 0.9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .search-text {
        line-height: 0;
        font-size: 0.8125rem;
        padding: 0 1rem;
        display: flex;
        align-items: center;
    }
    .navdown {
        margin-right: 0;
        top: 0rem;
        position: relative;
    }
}
//placeholder
input.search-top {
    text-indent: 0.625rem;
    font: 500 0.83rem Arial;
    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        top: 0;
        font-size: 0.625rem;
        line-height: 2;
        font-size: 0.625rem;
        position: relative;
        left: 0.5rem;
    }
}
//nav top popup animation
.nav-list-item {
    .custom-popup {
        transition: width 0.001s 0.299s, transform 0.3s, opacity 0.3s;
        width: 0em;
        transform: translate(20px, 50px);
        opacity: 0;
    }
    &.opennav1 {
        .custom-popup {
            transition: width 0s 0s, transform 0.3s, opacity 0.3s;
            transform: translate(0px, 0px);
            opacity: 1;
            width: 15.875em;
        }
    }
}
//notifications popups
$popup-notifications-width: 29.6875rem;
$popup-notifications-right: 0.5625rem;
.arrow-div {
    width: 1.3125rem;
    height: 0.625rem;
    background-color: #fff;
    position: absolute;
    top: 4.75rem;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    z-index: 1;
}
.popup-notifications {
    width: $popup-notifications-width;
    background: #fff;
    position: fixed;
    top: $topMargin;
    right: $popup-notifications-right;
    border-radius: $border-radius;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    max-height: calc(100vh - #{$topMargin} - 10px);
    display: flex;
    flex-direction: column;
    
    
}
span.text1 {
    line-height: 2.6;
}
.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    //padding: 0.5625rem 0.5625rem 0.0625rem 0.5625rem;
    flex-direction: column;
    &.bottom-box {
        // padding: 0rem 0.5625rem 0.4375rem 0.5625rem;
        font-size: 0.8125rem;
        line-height: 2;
    }
    hr {
        margin: 0;
        padding: 0;
        max-width: 23.5rem;
        width: 100%;
        height: 0.0313rem;
    }
    .actions-b {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0.625rem 1.25rem;
    }
}
.mm {
    height: 100%;
    width: 18.75rem;
    padding-left: 1.25rem;
}
.mm2 {
    height: 100%;
    width: 18.75rem;
}
.date_m {
    height: 100%;
    width: 6.25rem;
    text-align: center;
    padding-left: 0.625rem;
}
.icon_m {
    height: 100%;
    width: 5rem;
    text-align: center;
}
.remove {
    flex: 1;
    height: 100%;
}
.flex-c {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 0.8rem;
}
.message {
    border-left: 0.4375rem solid;
    margin: 0.625rem 0;
    height: 4.4375rem;
    width: 100%;
    background: $ice;
    &:first-of-type{
        margin-top: 0;
    }
   
    &:last-of-type{
        margin-bottom: 0;
    }
    .alert-box & {
        @include themeColor("background", $white, $black_blue);
    }
    display: flex;
    .icon-s {
        font-size: 2rem;
    }
    &.color1 {
        border-color: $red2;
        .icon1 {
            color: $red2;
        }
        .icon2 {
            display: none;
        }
        .icon3 {
            display: none;
        }
    }
    &.color2 {
        border-color: $orange2;
        .icon1 {
            display: none;
        }
        .icon2 {
            color: $orange2;
        }
        .icon3 {
            display: none;
        }
    }
    &.color3 {
        border-color: $green2;
        .icon1 {
            display: none;
        }
        .icon2 {
            display: none;
        }
        .icon3 {
            color: $green2;
        }
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}
//-----------------------------notification popup animation--------------------------//
//$popup-notifications-width: 29.6875rem;
//$popup-notifications-right: 0.5625rem;
.nav-icon-3,
.alert-server {
    .arrow-div,
    .popup-notifications {
        transition: transform 0.3s ease-in;
        transform: translateX(#{$popup-notifications-width + $popup-notifications-right + 1.625rem});
    }
}
.nav-icon-3,
.alert-server {
    &.opennav1 {
        .arrow-div,
        .popup-notifications {
            transform: translateX(0);
        }
    }
}


.bubble-cont {
    display: flex;   
    width: 100%;
    padding: 0.6875rem;
    position: relative;
    flex-direction: column;
}
.bubble {
    width:100%;    
    display: flex;
    
}
.icon-anim {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bbbb {
    background: red;
    color: transparent;
    border-radius: 50%;
    display: block;
    height: 10px;
    width: 10px;
}
.b_in {
    display: flex;
    align-items: center;
}
//-----------------------------notification popup animation end--------------------------//
/*-----------------------------------------responsive nav properties--------------------------------------------*/
@media screen and (max-width: $xxxl) {
    nav.sidebar.top .nav-list.user-icons .nav-icon-3.search-icon {
        display: flex;
    }
    html {
        font-size: 90%;
    }
    nav.sidebar.top .nav-list.search {
        display: none;
    }
    nav.sidebar.top .nav-list.user-icons {
        margin-left: auto;
    }
}
@media screen and (max-width: $menuTabletMax) {
    nav.sidebar.navbar.right {
        display: flex;
    }
    nav.sidebar.navbar li.nav-list-item2 .nav-text2.title {
        font-size: 1.25rem;
        width: 100%;
        justify-content: center;
        font-weight: 700;
        margin-bottom: 3.0625rem;
        display: flex;
    }
    body.openMenuLeft,
    body.openMenuRight {
        overflow: hidden;
    }
    .close-menu-cont {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 6.5625rem;
        height: 100%;
        transition: 0 transform 0.3s ease;
        &.left {
            right: 0;
            border-right: 0.625rem solid $ice;
            transform: translateY(-100%);
            .openMenuLeft & {
                transition: 0.3s transform 0.3s ease;
                transform: translateY(0);
            }
            svg {
                right: -0.0625rem;
            }
        }
        &.right {
            left: 0;
            border-left: 0.625rem solid $black_blue;
            transform: translateY(-100%);
            .openMenuRight & {
                transition: 0.3s transform 0.3s ease;
                transform: translateY(0);
            }
            svg {
                left: -0.0625rem;
            }
        }
        .relative {
            width: 100%;
            height: 100%;
            position: relative;
        }
        svg {
            width: 3rem; /*gazis 4.625rem*/
            height: auto;
            position: absolute;
        }
    }
    nav.sidebar.navbar {
        padding-top: 0;
        align-items: center;
        justify-content: center;
        width: 0;
        top: 0;
        left: 0;
        z-index: 4;
        display: flex;
        transition-property: width;
        border-right: 0rem;
        overflow: auto;
        &.right {
            left: auto;
            right: 0;
        }
    }
    .openMenuLeft nav.sidebar.navbar {
        width: 100%;
        &.right {
            width: 0;
            border-right: 0;
        }
    }
    .openMenuRight nav.sidebar.navbar.right {
        width: 100%;
    }
    nav.sidebar.top .nav-list-item:first-of-type {
        padding-left: 5.875rem;
    }
    .logo-button {
        display: block;
    }
    nav.sidebar.top .nav-list-item span.user_mail {
        display: none;
    }
    html {
        font-size: 100%;
    }
    nav.sidebar.top .nav-list-item:not(.first-el) {
        display: none;
    }
    nav.sidebar.top .nav-list.search {
        display: none;
    }
    main {
        padding-left: 0;
    }
    .logo {
        display: none;
    } /*
.close-menu-cont.right {
        right: auto;
        left: 0;
        border-right: 0;
        border-left: 10px solid $black_blue;
}
.close-menu-cont.left {
    right: 0;
    left: auto;
}*/
}
@media screen and (max-width: $menuMobileMax) {
    html {
        font-size: 3.5vw;
    }
    nav.sidebar.top .nav-list.user-icons {
        width: 100%;
        justify-content: space-between;
    }
    .logo-button {
        display: none;
    }
    .nav-text1 {
        flex-wrap: wrap;
    }
    .side-nav-list .nav-text1 span.light {
        flex-basis: 0.625rem;
    }
    .side-nav-list .icon-t {
        font-size: 1.625rem;
        margin-left: 0;
        width: 50%;
        text-align: center;
        margin-top: 2.75rem;
    }
    nav.sidebar.top .nav-list.user-icons .nav-icon-3 {
       flex:1 1 0;
        border-left: 0;
        &.logo-mobile{
            width: 40%;
            flex-grow: 2;
        }
    }
    nav.sidebar.top .nav-list-item:first-of-type {
        display: none;
    }
}
@media screen and (max-width: $menuMobileMax) and (orientation: landscape) {
    html {
        font-size: 1.57vw;
    }
}
@media screen and (max-width: $menuTabletMax) and (min-width: $menuTabletMin) {
    nav.sidebar.navbar li.nav-list-item2 .nav-text2.title {
        font-size: 1.5625rem;
        margin-bottom: 3.8281rem;
    }
    nav.sidebar.navbar .img-box span.nav-icons-side {
        font-size: 1.875rem;
    }
    nav.sidebar.navbar li.nav-list-item2 .nav-text2 {
        font-size: 1.17rem;
    }
    nav.sidebar.navbar li.nav-list-item2.subcategory .nav-text2 span.arrow-right .icon-fi-sr-angle-right {
        font-size: 1.17rem;
    }
    nav.sidebar.navbar li.nav-list-item2 {
        width: 19.375rem;
    }
    nav.sidebar.navbar .img-box {
        height: 5.85rem;
        width: 6.015rem;
    }
}
/*-----------------------------------------responsive nav properties end--------------------------------------------*/


/*-----------------------------------footer-nav-------------------------------------*/
.footer-nav-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index:3;
    @include themeColor("background-color", $white, $black_blue);
    .nav-list.user-icons {
        width: 100%;
        .nav-icon-3 {
            flex: 1;
        }
    }
    .popup-notifications {      
        position: fixed;
        bottom:0;
        left: 0;
        right: 0;
        top:100%;
        width:100%;
        height:auto;
        border-radius: $border-radius;
        padding-left: 0;
        padding-right: 0;
        transition: top .3s;
        z-index: 2;
        transform:none;      
   
    }
    .opennav1{
        .popup-notifications { 
            
         top:25%;     
            
        }
    }
}
.overlay.footer{
    pointer-events: none;
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    width:100%;
    height:0;
    background:#000000;
    opacity: 0;
    transition: opacity .5s,0s height .5s;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    .opennav1 &{
        height:100%;
        opacity: .5;
        transition: opacity .5s, height 0s;       

    }
    



}

.top-el {
    flex: 0 0 auto;
}

.main-el {
    flex: 1 1 auto;
    overflow: auto;
}
/*-----------------------------------footer-nav-------------------------------------*/
/*------------------------noscroll-------------------------------------------------*/
body.noscroll{
    @media (max-width: $md){
        overflow:hidden;
        .mobile-cont {          
            overflow: hidden;
        }
    }
}



/*------------------------noscroll-end---------------------------------------------*/

