$sidebarWidth:15.5rem;
$sidebarWidthClosed:4.8125rem;
$navSidebarTop: 4.68rem;
$transitiontime:.3s;

nav.sidebar.navbar,main,.logo,img.curve {
    transition-duration: $transitiontime ;
    transition-timing-function: ease-in;
    
    
}


nav.sidebar.navbar {
    width: $sidebarWidth;
    transition-property: width;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;   
}

nav.sidebar.top {
    height: $navSidebarTop;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;   
    z-index: 1;
}
main{
    padding-top: $navSidebarTop;
    padding-left: $sidebarWidth;
    transition-property:padding-left;   


}

.logo {  
    width: $sidebarWidth;
    transition-property: width;
    height: 100%;    
    position: relative;
}
.closeNav{

    nav.sidebar.navbar {
        width: $sidebarWidthClosed;       
    }

    main{
        padding-left: $sidebarWidthClosed;       
    
    }

    .logo {
        width: $sidebarWidthClosed;      
    }
    

}



.burger-menu-container {
    height: 100%;
}

img.curve {
    height: 100%;
    position: absolute;
    right: -1px;
    transition-property: width;
    transition-timing-function: linear;
}

img.curve {
   height: 100%;
    position: absolute;
    right: -0.06rem;
}
img.curve.c2 {
    left: 99%;
   
}

img.curve.c1{
    width:29.95px;
}
img.curve.c2{
    width:0;
}
/*skata*/
.closeNav{
    img.curve.c1{
        width:0;
        
        
    }
    img.curve.c2{
        width:29.95px;
        transition-delay: $transitiontime;
       
        
    }

}

