@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




$menuMobileMax: $md;
$menuTabletMax:1440px;
$menuDesktopMin:$menuTabletMax+1px;
$menuTabletMin:$menuMobileMax + 1px;



.ice{color:$ice}
.light_grey{color:$light_grey}
.pal_pink{color:$pal_pink}
.green2{color:$green2}
.sky_blue{color:$sky_blue}
.orange2{color:$orange2}
.pomegranade{color:$pomegranade}
.blue_grey{color:$blue_grey}
.red2{color:$red2}
.blue_purple{color:$blue_purple}
.dark_grey{color:$dark_grey}
.dark_blue{color:$dark_blue}
.black_blue{color:$black_blue}
.bluedarkbl{color:$bluedarkbl}




