.Roboto-Medium-13px{
Font Family: Roboto;
Font Weight: Medium;
Font Size: 0.8125rem; /* 13px */
Color: #CACAD5;
Character Spacing: 0;
Line Spacing: 15;
}
.Roboto-Medium-13px{
Font Family: Roboto;
Font Weight: Medium;
Font Size: 0.8125rem; /* 13px */
Color: #EFEFF6;
Character Spacing: 0;
Line Spacing: 15;
}
.Roboto-Regular-15px{
Font Family: Roboto;
Font Weight: Regular;
Font Size: 0.9375rem; /* 15px */
Color: #0E0C28;
Character Spacing: 45;
Line Spacing: 18;
}
.Roboto-Bold-30px{
Font Family: Roboto;
Font Weight: Bold;
Font Size: 1.875rem; /* 30px */
Color: #0E0C28;
Character Spacing: 45;
Line Spacing: 37;
}
.Roboto-Bold-27px{
Font Family: Roboto;
Font Weight: Bold;
Font Size: 1.6875rem; /* 27px */
Color: #18BF93;
Character Spacing: 45;
Line Spacing: 33;
}
.Roboto-Medium-37px{
Font Family: Roboto;
Font Weight: Medium;
Font Size: 2.3125rem; /* 37px */
Color: #0E0C28;
Character Spacing: 0;
Line Spacing: 44;
}
.Breadcrump{
Font Family: Roboto;
Font Weight: Medium;
Font Size: 0.75rem; /* 12px */
Color: #9A9AB4;
Character Spacing: 0;
Line Spacing: 14;
}
.Active-tab{
Font Family: Roboto;
Font Weight: Medium;
Font Size: 0.75rem; /* 12px */
Color: #0E0C28;
Character Spacing: 0;
Line Spacing: 14;
}
.tab-label-active{
Font Family: Roboto;
Font Weight: Medium;
Font Size: 0.8125rem; /* 13px */
Color: #0E0C28;
Character Spacing: 0;
Line Spacing: 15;
}
.Roboto-Bold-14px{
Font Family: Roboto;
Font Weight: Bold;
Font Size: 0.875rem; /* 14px */
Color: #0E0C28;
Character Spacing: 0;
Line Spacing: 17;
}
.table-row-labels{
Font Family: Roboto;
Font Weight: Light;
Font Size: 0.875rem; /* 14px */
Color: #0E0C28;
Character Spacing: 0;
Line Spacing: 17;
}
.table-row-data{
Font Family: Roboto;
Font Weight: Medium;
Font Size: 0.875rem; /* 14px */
Color: #0E0C28;
Character Spacing: 0;
Line Spacing: 17;
}
.Roboto-Medium-9px{
Font Family: Roboto;
Font Weight: Medium;
Font Size: 0.5625rem; /* 9px */
Color: #CACAD5;
Character Spacing: 0;
Line Spacing: 11;
}
.Roboto-Medium-14px{
Font Family: Roboto;
Font Weight: Medium;
Font Size: 0.875rem; /* 14px */
Color: #18BF93;
Character Spacing: 0;
Line Spacing: 17;
}
.Roboto-Medium-14px{
Font Family: Roboto;
Font Weight: Medium;
Font Size: 0.875rem; /* 14px */
Color: #5B5BDC;
Character Spacing: 0;
Line Spacing: 17;
}
.Roboto-Bold-16px{
Font Family: Roboto;
Font Weight: Bold;
Font Size: 1rem; /* 16px */
Color: #EFEFF6;
Character Spacing: 0;
Line Spacing: 19;
}
.Roboto-Bold-16px{
Font Family: Roboto;
Font Weight: Bold;
Font Size: 1rem; /* 16px */
Color: #5B5BDC;
Character Spacing: 0;
Line Spacing: 19;
}
.Roboto-Bold-16px{
Font Family: Roboto;
Font Weight: Bold;
Font Size: 1rem; /* 16px */
Color: #61CDAC;
Character Spacing: 0;
Line Spacing: 19;
}
.Roboto-Bold-16px{
Font Family: Roboto;
Font Weight: Bold;
Font Size: 1rem; /* 16px */
Color: #D83438;
Character Spacing: 0;
Line Spacing: 19;
}
.Roboto-Regular-13px{
Font Family: Roboto;
Font Weight: Regular;
Font Size: 0.8125rem; /* 13px */
Color: #0E0C28;
Character Spacing: 0;
Line Spacing: 15;
}
.Roboto-Bold-13px{
Font Family: Roboto;
Font Weight: Bold;
Font Size: 0.8125rem; /* 13px */
Color: #0E0C28;
Character Spacing: 0;
Line Spacing: 15;
}
.Roboto-Regular-13px{
Font Family: Roboto;
Font Weight: Regular;
Font Size: 0.8125rem; /* 13px */
Color: #CACAD5;
Character Spacing: 0;
Line Spacing: 15;
}
.label-text-form{
Font Family: Roboto;
Font Weight: Medium;
Font Size: 0.875rem; /* 14px */
Color: #CACAD5;
Character Spacing: 0;
Line Spacing: 17;
}
.Roboto-Bold-15px{
Font Family: Roboto;
Font Weight: Bold;
Font Size: 0.9375rem; /* 15px */
Color: #18BF93;
Character Spacing: 0;
Line Spacing: 18;
}
.Roboto-Regular-12px{
Font Family: Roboto;
Font Weight: Regular;
Font Size: 0.75rem; /* 12px */
Color: #D83438;
Character Spacing: 0;
Line Spacing: 14;
}