.nav-text1{
    display: flex;
    align-items: center;
    font-size: 0.8125rem;
    color: $black_blue;
    > span{
        .first-el &{
            font-weight: bold;
    
        }

    }
  

    
}