body {
  overflow-y: scroll;
}
.grid {
  position: relative;
}
$dashelpad: 0.625rem;
$elheight: 18vh;
.item {
  display: block;
  position: absolute;
  width: 25%;
  height: $elheight;
  margin: 0;
  z-index: 1;
  padding: $dashelpad;
  color: #000;
  box-sizing: border-box;
  &.t3 {
    width: 50%;
    height: $elheight * 2;
  }
  &.t1 {
    width: 100%;
    height: $elheight * 2;
  }
}
.container1 {
  padding-right: #{$section-padding - $dashelpad};
  padding-left: #{$section-padding - $dashelpad};
}

.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
  background-color: #fff;
  -webkit-box-shadow: 0 0.0625rem 0.3125rem 0 rgba(14, 12, 40, 0.21) !important;
  box-shadow: 0 0.0625rem 0.3125rem 0 rgba(14, 12, 40, 0.21) !important;
  @include themeColor("background-color", $white, $black_blue);
}
.template {
  display: none;
}


  /*----------------------------------------------------------------------*/
  @mixin iconColors($color,$amount) {
    color:$color;
    background: lighten($color,$amount);
  }
  .boxD {
    display: flex;
    width: 75px;
    height: 75px;
    justify-content: center;
    align-items: center;   
    border-radius: $border-radius;    
    font-size: 30px;
    &.color1{ @include iconColors(red,45%);}
    &.color2{ @include iconColors(green,70%);}
    &.color3{ @include iconColors(red,45%);}
    &.color4{ @include iconColors(red,45%);}
     
     
    


   

}

.s-top {
  display: flex;
}

.s-bottom {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: auto;
}
.data-link {
  flex-direction: column;
  height: 100%;
  display: flex;
}

.b-right {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
}

.r-d {
  padding-left: 10px;
}

.numD {
  font-size: 42px;
  font-weight: bold;
  line-height: 34px;
  margin-top: auto;
}
