/*---------------------------------remove animations on load or resize-----------------------------------------*/
body.noanimαtion * {
  transition: none !important;
  animation-duration: 0 !important;
}
/*---------------------------------remove animations on load or resize /end------------------------------------*/

.modal-dialog {
  max-width: 40rem;
  .modal-content {
    border-radius: $border-radius;
    .modal-header {
      justify-content: space-between;
      .btn-close {
        padding-top: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        margin: 0;
      }
    }
    .modal-body {
      p {
        text-align: center;
      }
    }
    .modal-footer {
      .btn-secondary {
        font-size: 0.71rem;
      }
    }
  }
}
/*---------------------------------------------TOP SECTION---------------------------------------------*/

.top-section {
  margin-left: var(--section-padding);
  margin-right: var(--section-padding);
  margin-bottom: var(--section-padding);
  margin-top: var(--section-padding);
  min-height: 10rem;
  &.tables {
    min-height: 0;
    margin-bottom: 0;
  }
}
/*---------------------------------------------MAIN SECTION---------------------------------------------*/
.section-main {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  margin-left: var(--section-padding);
  margin-right: var(--section-padding);
  margin-bottom: var(--section-padding);
  border-radius: $border-radius;

  @media (min-width: $xl) {
    padding-top: $section-padding + 0.75rem;
    padding-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
/*-----------------------------------tabs----------------------------------------*/
.tab-parent {
  overflow: auto;
  @media (max-width: #{$xl - 1}) {
    margin-bottom: var(--section-padding);
    overflow: auto;
    border-radius: $border-radius;
  }
  margin-left: var(--section-padding);
  margin-right: var(--section-padding);
}
.tab-cont {
  display: flex;
  width: 100%;
  position: relative;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  //overflow: hidden;
  width: var(--tab-width-decktop);
  @media (max-width: #{$md - 1}) {
    width: var(--tab-width);
    border-radius: 0;
  }
  @media (max-width: #{$xl - 1}) {
    width: var(--tab-width-tablet);
    border-radius: 0;
  }
}
.tab-in {
  flex: 1;
  padding: 1.25rem;
  &.active {
    @include themeColor("color", $dark_blue, $white);
  }
  transition: color 0.15s;
  @include themeColor("color", rgba($dark_blue, 0.4), rgba($white, 0.4));
  @include themeColor("background", darken($ice, 1.5%), lighten($bluedarkbl, 1.5%));
  text-align: center;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
}
.activebox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  @include themeColor("color", $dark_blue, $white);
  @include themeColor("background", $white, $black_blue);
  transition: left 0.3s;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  box-shadow: 0rem -0.375rem 2.1875rem -0.75rem rgba(0, 0, 0, 0.29);
  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 0.625rem;
    width: 1.25rem;
    bottom: 0;
  }
  &:after {
    right: -1.25rem;
    border-radius: 0 0 0 $border-radius;
    box-shadow: -$border-radius 0 0 0;
    @include themeColor("color", $white, $black_blue);
  }
  &:before {
    left: -1.25rem;
    border-radius: 0 0 $border-radius 0;
    box-shadow: $border-radius 0 0 0;
    @include themeColor("color", $white, $black_blue);
  }
  @media (max-width: #{$xl - 1}) {
    border-radius: $border-radius;
    &:before,
    &:after {
      display: none;
    }
  }
}

.over {
  position: relative;
  z-index: 1;
}

.tab {
  display: none;

  &.active {
    display: block;
  }
}

/*-----------------------------------tabs-end----------------------------------------*/
.action-cont {
  display: none;
  @media (min-width: $xl) {
    display: block;
  }
}
.info-container {
  @media (min-width: $xl) {
    padding-bottom: 6.25rem;
  }
}
.info-title {
  .info-icon {
    display: none;
  }
  position: relative;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  align-items: center;
  @include themeColor("color", $dark_blue, $ice);
  margin-bottom: 1.25rem;
  @media (max-width: #{$xl - 1}) {
    border-bottom: 0.0625rem solid;
    padding: 0.8125rem 0;
    .info-icon {
      display: flex;
      margin-left: auto;
    }
  }
}
.open {
  .icon-fi-sr-angle-down:before {
    content: "\e94e";
  }
}
.info-row {
  @include border-bottom();
  @include themeColor("color", $dark_blue, $ice);
  line-height: 1.5rem;
  &.hide {
    display: none;
  }
  &.open {
    .icon-fi-sr-pencil:before {
      content: "\e916";
      font-size: 1.25rem;
    }
  }
}
.info-text-in {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}
.info-row-con {
  height: auto;
  @media (min-width: #{$xl}) {
    height: 100% !important;
  }
  transition: height 0.3s;
  overflow: hidden;
  .open & {
    height: 100%;
  }
}
.info-text-in {
  & > * {
    flex: 1;
    font-size: 0.875rem;
  }
}
.info-form-in .info-text-in {
  padding-top: 0;
  padding-bottom: 1rem;
  align-items: flex-start;
  > *:first-child {
    @media (max-width: $md) {
      flex-basis: 100%;
    }
  }
}
.info_sub {
  max-width: 12.5rem;
  .last & {
    flex: 0;
  }
  .info-form-in & {
    max-width: 6.5rem;
  }
}
.info-val {
  flex: 2;
  @media (max-width: $md) {
    display: block;
  }
  display: flex;
  > * {
    padding: 0 0.3125rem;
  }
  .last & {
    padding-right: 0;
    text-align: center;
  }
}
.date {
  font-weight: 600;
  &.big {
    font-size: $font-big;
  }
  &.small {
    font-weight: normal;
  }
}
.timezone {
  font-size: 0.675rem;
  @include themeColor("color", $dark_blue, $light_grey);
}
.icon-cont {
  margin-left: auto;
  display: flex;
  @media (max-width: $md) {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.info-icon {
  width: 1.25rem;
  height: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 0.9375rem;
  line-height: 1.5;

  &.info-icon.action0 {
    right: 2.75rem;
    @include themeColor("color", $light_grey, $dark_blue);
    &:hover {
      @include themeColor("color", $red2, $red2);
    }
  }
}
.action-cont .btn {
  width: 100%;
  margin-bottom: 1.25rem;
}
.border-strong {
  border-width: 0.1875rem;
}
.id-protect-text {
  @include themeColor("color", $dark_blue, $ice);
  font-size: 0.875rem;
}
.btn-black_blue {
  border-width: 0.125rem;
  @include themeColor("border-color", none, $ice);
  &:hover {
    @include themeColor("background", lighten($dark_blue, 5%), $ice);
    @include themeColor("color", lighten($dark_blue, 65%), $dark_blue);
  }
}
.btn {
  border-radius: $border-radius;
}
/*===================== billig profile ==========================*/
.form-right {
  @include themeColor("color", $black_blue, $black_blue);
  @include themeColor("background-color", $ice, lighten($bluedarkbl, 4%));
  margin-bottom: 1.5rem;
  margin-top: 1.25rem;
  .arrow-div {
    top: 27.5rem;
    right: 6rem;
    @include themeColor("background-color", $ice, lighten($bluedarkbl, 4%));
    border: none;
    margin-top: 1.25rem;
    .addprofile-shortcut {
      @include themeColor("color", $ice, $bluedarkbl);
    }
  }
  .info-row {
    @include themeColor("color", $bluedarkbl, $ice);
    padding-left: 1rem;
  }
}
//---------------------------------------action tabs-------------------------------//
.mobile_tabs {
  display: flex;
  width: auto;
  margin: auto;
}
.resio {
  width: 100%;
  padding-bottom: 50%;
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;
  .actions {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0;
    justify-content: center;
    align-items: center;
    padding: 1.375rem;
    display: flex;
  }
}
.dimensions {
  width: calc(40vw - 0.9375rem);
  flex-shrink: 0;

  @media (min-width: $md) {
    width: calc(25vw - 0.9375rem);
  }
  margin-right: 1.25rem;
  &:last-of-type {
    margin-right: 0rem;
  }
}
.mobile-cont {
  width: 100%;
  overflow: auto;
  margin-bottom: var(--section-padding);
  margin-top: var(--section-padding);
  display: flex;
  @media (min-width: $xl) {
    display: none;
  }
}
//-------------------------------button-icons------------------------------------------//
@media (min-width: $xl) {
  .button-icon2 {
    display: none;
  }
}
@media (max-width:#{$xl - 1 }) {
  span.btext {
    color: $white;
    font-size: 1.7vw;
    position: relative;
    z-index: 1;
  }
}
@media (max-width:#{$md - 1 }) {
  span.btext {
    font-size: 2.3vw;
  }
}
.button-icon2 {
  width: 4vw;
  margin-right: 0.5rem;
  @media (max-width:#{$md - 1 }) {
    width: 5vw;
    margin-right: 0.5rem;
  }
}
.button-icon2 {
  height: 2.6875rem;
}
.gradientbg {
  $gradient-light: linear-gradient(135deg, rgba(255, 255, 255, 0.397) 20%, rgba(255, 255, 255, 0.137) 85%);
  $gradient-dark: linear-gradient(135deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.418) 85%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include themeColor("background", $gradient-light, $gradient-dark);
  right: 0;
  z-index: 1;
}

//----------------- forms open close---------------------------

.info-form {
  transition: height 0.3s linear;
  height: auto;
  overflow: hidden;
}

.info-text-in {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.info-form-in {
  @include themeColor("background-color", $ice, $bluedarkbl);
  padding: 1rem;
  padding-bottom: 0;
}
.button-padding {
  flex: 0 0 auto;
  margin-left: auto;
  padding-left: 1rem;
  @media (max-width: $md) {
    padding-left: 0;
    padding-top: 1rem;
  }
}

.arrow-div2 {
  transition: bottom 0.3s;
  width: 1.3125rem;
  height: 0.625rem;
  @include themeColor("background-color", $ice, $bluedarkbl);
  position: absolute;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  z-index: 1;
  bottom: -100%;
  left: 1rem;
  .info-row.open & {
    bottom: 0rem;
  }
}
.info-text {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: $menuMobileMax) {
  .info_sub,
  .info-val {
    min-width: 100%;
  }
  .info-title {
    margin-bottom: 0rem;
    padding: 1.4rem 0;
  }
}

//========================================================//

.info-row.last {
  @media (min-width: #{$xl+1} ) {
    border: none;
  }
}
.addAction {
  cursor: pointer;
  color: $green2;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .form_open & {
    display: none;
  }

  .icon-fi-sr-plus-small {
    font-size: 3rem;
  }
}
.button {
 
  border: 0;
  text-align: center;
  margin-left: auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  svg {
    display: none;
    stroke: $green2;
    width: 1.5625rem;
  }
  &.loader {
    .save {
      height: 0;
      overflow: hidden;
      display: block;
    }
    svg {
      display: inline;
    }
  }
}

.info-form {
  .button {
    padding: $form-select-padding-y $form-select-padding-x;
    line-height: $form-select-line-height;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    &.submit{
      padding: 1rem 1.2rem;
  
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: $xl) {
  /* Works on Firefox */
  body {
    scrollbar-width: thin;
    scrollbar-color: $bluedarkbl $ice;
  }

  /* Works on Chrome, Edge, and Safari */
  body::-webkit-scrollbar {
    width: 12px;
  }

  body::-webkit-scrollbar-track {
    background: $ice;
  }

  body::-webkit-scrollbar-thumb {
    background-color: $bluedarkbl;
    border-radius: 20px;
    border: 3px solid $ice;
  }

  body.dark {
    scrollbar-color: $ice $bluedarkbl;
  }

  /* Works on Chrome, Edge, and Safari */

  body.dark::-webkit-scrollbar-track {
    background: $bluedarkbl;
  }

  body.dark::-webkit-scrollbar-thumb {
    background-color: $ice;
    border: 3px solid $bluedarkbl;
  }
}

/*--------------------------------new-list1-----------------------------------------*/
.big-row-parent {
  &.lock {
    .icon-fi-sr-lock {
      display: block;
    }
    .icon-fi-sr-unlock {
      display: none;
    }
  }
  .icon-fi-sr-lock {
    display: none;
  }
  .icon-fi-sr-unlock {
    display: block;
  }
}

.info-flex {
  display: flex;
}

.d1 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}
.d2 {
  flex: 6;
}
.d3 {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.big-row-in {
  display: flex;
  padding: 1rem 0;
  border-bottom: inherit;
  @include themeColor("color", $dark_blue, $ice);
  @include border-bottom();
}
.el-right {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.el-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-title-big {
  font-size: $font-big;
  font-weight: bold;
  margin-left: 1rem;
}

span.small-gray {
  font-size: small;
  font-weight: normal;
  padding-left: 0.5rem;
  opacity: 0.5;
}

/*--------------------------------new-list1-end-------------------------------------*/
