/*--------------------------------------------MODAL---------------------------------------------------*/
.modal-content {

    .modal-header{

        .btn-close {
            padding-top: 0.5rem;
            padding-right: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0.5rem;
            margin: 0;
        
        }

                .modal-title{


        }
    }

    .modal-body {
        p{
            text-align: center;


        }
    }
}





/*---------------------------------------------TOP SECTION---------------------------------------------*/
.top-section {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    height: 10rem;
}

/*---------------------------------------------MAIN SECTION---------------------------------------------*/
.section-main {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
}
