/*---------------------------------remove animations on load or resize-----------------------------------------*/
body.noanimetion  *{
  transition: none !important;
  animation-duration:0 !important;;

}


/*---------------------------------remove animations on load or resize /end------------------------------------*/
/*LOADER*/
.coverdiv.hide-loader{
  left:-100%;
  .disable{
    display: none;
  }
}
.loaderimg {
  width: 100px;
  height: auto; }

.coverdiv {
  position:fixed;
  top:0;
  left:0;
  z-index:5;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
  transition: left .5s ease-in;

    
   }

.inner_div {
  position: relative; }

.shadow {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  z-index: 5;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: shadow-pulse 1s infinite linear;
  animation-delay: 1s; }

.circle_big {
  fill: transparent;
  stroke-width: 6px;
  stroke: #1EB6DB;
  r: 17px;
  stroke-dasharray: 107;
  stroke-dashoffset: -107;
  animation-name: circle_big;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

.circle_small {
  fill: #2E435E;
  animation-name: circle_small;
  animation-duration: 1s; }

.inner_div {
  animation-name: inner_div;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.lines {
  fill: #fff; }

.svgl1, .svgl2, .svgl3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px; }

.svgl1 {
  animation-name: svgl1;
  animation-duration: 1s; }

.svgl2 {
  animation-name: svgl2;
  animation-duration: 1s; }

.svgl3 {
  animation-name: svgl3;
  animation-duration: 1s; }

@keyframes inner_div {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); }
 }
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0); }
  50% {
    box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.05); }
  100% {
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0); }
 }
@keyframes svgl1 {
  0% {
    top: -117px;
    left: 71.2564px; }
  50% {
    top: -117px;
    left: 71.2564px; }
  100% {
    top: 0;
    left: 0; }
 }
@keyframes svgl2 {
  0% {
    top: 117px;
    left: -71.2564px; }
  50% {
    top: 117px;
    left: -71.2564px; }
  100% {
    top: 0;
    left: 0; }
 }
@keyframes svgl3 {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(0); }
  100% {
    transform: scale(1); }
 }
/* The animation code */
@keyframes circle_small {
  0% {
    r: 0px; }
  50% {
    r: 17px; }
  100% {
    r: 17px; }
 }
@keyframes circle_big {
  0% {
    stroke-dashoffset: -107; }
  50% {
    stroke-dashoffset: -107; }
  100% {
    stroke-dashoffset: 0; }
 }







/*--------------------------------------------MODAL---------------------------------------------------*/
.modal-dialog {
  max-width: 40rem;

  .modal-content {
      border-radius: $border-radius;

      .modal-header {
          justify-content: space-between;

          .btn-close {
              padding-top: 0.5rem;
              padding-right: 0.5rem;
              padding-bottom: 0.5rem;
              padding-left: 0.5rem;
              margin: 0;
          }
      }

      .modal-body {
          p {
              text-align: center;
          }
      }

      .modal-footer {
          .btn-secondary {
              font-size: 0.71rem;
          }
      }
  }
}

/*---------------------------------------------TOP SECTION---------------------------------------------*/
$section-padding:1.875rem;
.top-section {  
  margin-left: $section-padding;
  margin-right: $section-padding;
  margin-bottom: $section-padding;
  margin-top: $section-padding;
  height: 10rem;
}

/*---------------------------------------------MAIN SECTION---------------------------------------------*/
.section-main {  
  margin-left: $section-padding;
  margin-right: $section-padding;
  margin-bottom: $section-padding;
  border-radius: $border-radius;
}

/*-----------------------------------tabs----------------------------------------*/
.tab-cont {
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: $section-padding + 0.75rem ;
  border-top-left-radius: $border-radius;
  border-top-right-radius:$border-radius;
  overflow: hidden;
}

.tab-in {
  flex: 1;
  padding: 1.25rem;  
  @include themeColor("color",$dark_blue,$white);
  @include themeColor("background",darken($ice,4%),lighten($bluedarkbl,5%));
  text-align: center; 
  font-size:0.9rem;
  &:hover{
    text-decoration: underline;

  }

}
.activebox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  @include themeColor("color",$dark_blue,$white);
  @include themeColor("background",$white,$black_blue);
  transition: left .3s;
  border-top-left-radius: $border-radius;
  border-top-right-radius:$border-radius;
  &:before,
	&:after {
		content: "";
		position: absolute;

		height: 0.625rem;
		width: 1.25rem;

		bottom: 0;
	}

	&:after {
		right: -1.25rem;

		border-radius: 0 0 0 0.625rem;
		-moz-border-radius: 0 0 0 0.625rem;
		-webkit-border-radius: 0 0 0 0.625rem;

		-webkit-box-shadow: -0.625rem 0 0 0 #fff;
		box-shadow: -0.625rem 0 0 0 #fff;
	}

	&:before {
		left: -1.25rem;

		border-radius: 0 0 0.625rem 0;
		-moz-border-radius: 0 0 0.625rem 0;
		-webkit-border-radius: 0 0 0.625rem 0;

		-webkit-box-shadow: 0.625rem 0 0 0 #fff;
		box-shadow: 0.625rem 0 0 0 #fff;
	}
}
.over {
  position: relative;
  z-index: 1;
  
}




/*-----------------------------------tabs-end----------------------------------------*/

.info-container {
  padding-bottom: 6.25rem;
}

.info-title{
  font-size:1rem;
  font-weight: bold;
  @include themeColor("color",$dark_blue,$ice);
  margin-bottom: 1.25rem;
}
.info-row {
  display: flex;
  width: 100%;
  border-bottom: 0.0625rem solid ;
  @include themeColor("border-color",lighten($dark_blue, 65%),darken($ice, 65%));
  @include themeColor("color",$dark_blue,$ice);
  line-height: 3.125rem;
}

.info-row > * {
  flex: 1;
  font-size: 0.875rem ;
}

.info-icon {
  text-align: end;
  margin-right: 1.5rem;
}
.action-cont .btn{
  width: 100%;
  margin-bottom: 1.25rem;
}
.border-strong{
  border-width: 0.1875rem;
}
.id-protect-text{
  @include themeColor("color",$dark_blue,$ice);
  font-size:1.2rem
}

.btn-black_blue{
  border-width:0.125rem;
  @include themeColor("border-color",none,$ice);
  &:hover{
    @include themeColor("background",lighten($dark_blue,5%),$ice);
    @include themeColor("color",lighten($dark_blue, 65%),$dark_blue);
  }
}

.btn{
  border-radius:$border-radius
}