.shadow-1-strong {
    -webkit-box-shadow: 0 0.0625rem 0.3125rem 0 rgba(14, 12, 40,.21)!important;
    box-shadow: 0 0.0625rem 0.3125rem 0 rgba(14, 12, 40,.21)!important
}
.shadow-2-strong {
    -webkit-box-shadow: 0 0.125rem 0.625rem 0 rgba(14, 12, 40,.21)!important;
    box-shadow: 0 0.125rem 0.625rem 0 rgba(14, 12, 40,.21)!important
}
.shadow-3-strong {
    -webkit-box-shadow: 0 0.3125rem 0.9375rem 0 rgba(14, 12, 40,.21)!important;
    box-shadow: 0 0.3125rem 0.9375rem 0 rgba(14, 12, 40,.21)!important
}
.shadow-4-strong {
    -webkit-box-shadow: 0 0.625rem 1.25rem 0 rgba(14, 12, 40,.21)!important;
    box-shadow: 0 0.625rem 1.25rem 0 rgba(14, 12, 40,.21)!important
}
.shadow-5-strong {
    -webkit-box-shadow: 0 0.9375rem 1.875rem 0 rgba(14, 12, 40,.21)!important;
    box-shadow: 0 0.9375rem 1.875rem 0 rgba(14, 12, 40,.21)!important
}
.shadow-6-strong {
    -webkit-box-shadow: 0 1.25rem 2.5rem 0 rgba(14, 12, 40,.21)!important;
    box-shadow: 0 1.25rem 2.5rem 0 rgba(14, 12, 40,.21)!important
}
