//-----------------------------------------------------filters----------------------------------
$filterpadding: 0.3rem;

.section-main.tables {
  padding-top:var(--section-padding);
  @media (min-width: $xxl) {
    padding: var(--section-padding);
    padding-top: 0;
  }

  border-radius: $border-radius;
}
@mixin inputsize($size, $num, $num2) {
  flex: 1 1 $size;

  &.half {
    flex: 1 1 $size * $num;
  }
  &.double {
    flex: 1 1 $size * $num2;
  }
}

.filter-parent {
  transition: all .3s;
  top: $navSidebarTop;
  .shadow-1-strong {
    -webkit-box-shadow: 0 0 0 0 transparent  !important;
    box-shadow: 0 0 0 0 transparent  !important;
}
  @media (min-width: $xxl) {
    padding-bottom: var(--section-padding);
   
    border-bottom: var(--section-padding) solid;
    
    @include themeColor("border-color", $white, $black_blue);
  }
  position: sticky;
  margin-left: var(--section-padding);
  margin-right: var(--section-padding);
  

  @include themeColor("background-color", $ice, $bluedarkbl);
  z-index: 1;
}

.filters-padding {
  @include themeColor("background-color", $white, $black_blue);
  padding: $filterpadding;

  background: $white;
  border-radius: $border-radius;
  display: flex;
  flex-wrap: wrap;
}

.input-padding {
  input {
    width: 100%;
  }
  padding: $filterpadding;
  @include inputsize(100%, 1, 1);

  @media (min-width: $md) {
    @include inputsize(50%, 1, 1);
  }

  @media (min-width: $lg) {
    @include inputsize(33.3333%, 1, 1);
  }

  @media (min-width: $xxl) {
    @include inputsize(16.6666%, 0.5, 2);
  }
}
.filters-label {
  display: none;
  @media (min-width: $xxl) {
    display: block;
  }
  border-bottom: 1px solid;
  margin-bottom: 20px;
  padding: 8px 0px;
  @include themeColor("color", $bluedarkbl, $ice);
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  @media (max-width:  $xxl ) {
  justify-content: center;
   margin-bottom: 0px;
}

  span {
    margin-left: 5px;
  }
}

.filters-conatiner {
  transition: height 0.3s linear;
  height: auto;
  overflow: hidden;
}

.mobilefilters{
  &.filter-parent {
  margin-left: 0;
  margin-right:0 ;
  padding-bottom: 0;  
  -webkit-box-shadow: 0 0.0625rem 0.3125rem 0 rgba(14, 12, 40, 0.21) !important;
  box-shadow: 0 0.0625rem 0.3125rem 0 rgba(14, 12, 40, 0.21) !important;
  .filters-label {
    border-bottom-width: 0;

  }

}

}

//-----------------------------------------------------filters-end----------------------------------
body > * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table > * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

tbody {
  tr {
    @include themeColor("background", $white, $black_blue);
    @include themeColor("border-color", $gray-200, $gray-900);

    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;

    @media screen and (min-width: $xxl) {
      &.selected {
        td {
          a {
            @include themeColor("color", $ice, $ice);
          }
        }
        .email {
          @include themeColor("color", $ice, $ice);
        }
        .flex-date {
          @include themeColor("color", $ice, $ice);
        }
        .actions-container {
          @include themeColor("color", $ice, darken($ice, 20%));
        }

        @include themeColor("background-color", lighten($bluedarkbl, 15%), $dark_blue);
        border-radius: $border-radius;
      }

      &:hover {
        td {
          a {
            @include themeColor("color", $ice, $ice);
          }
        }
        .email {
          @include themeColor("color", $ice, $ice);
        }
        .flex-date {
          @include themeColor("color", $ice, $ice);
        }

        .actions-container {
          @include themeColor("color", $ice, darken($ice, 20%));
        }

        background-color: $bluedarkbl;
        border-radius: $border-radius;
      }
    }
    background-color: $white;
    @media (min-width: $xxl) {
      padding: 0.35em;
    }
  }
}

thead {
  position: sticky;
  z-index: 1;
  transition: top 0.3s linear;
  tr {
    @include themeColor("border-color", $ice, $ice);
    @include themeColor("background-color", $ice, $light_grey);
    @include themeColor("color", $black_blue, $black_blue);
  }
}

table th,
table td {
  padding: 0.625em;
  text-align: center;

  a {
    @include themeColor("color", $blue_purple, darken($blue, 10%));
  }
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.title_mobile {
  display: none;
}

table tr td {
  @media (max-width: $xxl) {
    justify-content: center;
    align-items: stretch;
    display: flex;
    flex: 1 0 33.3333%;
    margin-bottom: -1px;
    &:last-of-type {
      flex-basis: 100%;
    }
  }

  @media (max-width: $lg) {
    flex-basis: 33.3333%;
  }
  @media (max-width: $md) {
    flex-basis: 50%;
  }
  @media (max-width: $sm) {
    flex-basis: 100%;
  }
}

@media screen and (max-width: $xxl) {
  .section-main.tables {
    background-color: transparent;
  }
  .title_mobile {
    display: block;
    font-weight: bold;
    text-align: center;
  }
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.625em;
    justify-content: space-between;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: flex;
    font-size: 0.8em;
    text-align: center;
    flex-direction: column;
  }
  table .hide-t {
    display: none;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

//----------------------------------------filter arrows------------------------------
.filter-box {
  display: flex;
  align-items: center;
  width: 100%;
  @include themeColor("color", $black_blue, $ice);
}

.filter-title {
  flex: 1;
  text-align: center;
  @include themeColor("color", $black_blue, $black_blue);
}

img.filtericon {
  height: 20px;
}

.filters {
  display: flex;
  flex-direction: column;
}

//----------------------------------------date el------------------------------

.flex-date {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include themeColor("color", $black_blue, $ice);
  .selected & {
    @include themeColor("color", $ice, $black_blue);
  }
}

span.table-time {
  font-size: 10px;
}
//---------------------------------------------status ---------------------------------------
.status {
  display: flex;
  align-items: center;
  justify-content: center;
  &.isNotActive {
    color: $green2;
  }
  &.isActive {
    color: $red2;
  }
  .active-text {
    font-weight: 600;
  }
}

//-----------------------------------------------------action--------------------------------
.p-icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.actions-container {
  display: flex;
  justify-content: space-evenly;
  @include themeColor("color", $dark_blue, darken($ice, 25%));
  font-size: 120%;
  & > * {
    position: relative;
  }
  .popaction {
    position: absolute;
    top: 24px;
    right: 0;
    opacity: 0;
    transition: all 0.3s linear;
    transform: translate(20px, 20px);
    z-index: 1;
  }
  & > *:hover {
    font-size: 120%;
    @include themeColor("color", $white, $white);
    cursor: pointer;
    .popaction {
      opacity: 1;
      background-color: #ffffff;
      color: #000;
      padding: 10px;
      border-radius: $border-radius;

      transform: translate(0, 0);
    }
  }
}

//-----------------------------------------------------singleIcon--------------------------------

.singleIcon {
  margin-left: 5px;
  &.red {
    color: $red2;
  }
  &.green {
    color: $green2;
  }
  &.noColor {
    color: $light_grey;
  }
}

//--------------------------------------DOMAIN NAME-----------------------------------------
.flex-left-el {
  display: flex;
  align-items: center;
}
.domain-name {
  display: flex;
  justify-content: center;
  @media (min-width: $xxl) {
    justify-content: space-between;
  }
  align-items: center;

  .icon {
    color: $orange2;
    margin-right: 5px;
    &.hideIcon {
      opacity: 0;
    }
  }
  a.link {
    overflow: hidden;
  }
}

input[type="checkbox"] {
  transform: scale(1.4);
}

.selectionActionsContainer {
 
  display:none;
  @media (min-width:  $xxl) {display: block; }
  bottom: 0%;
  width: calc(100% - #{$sidebarWidth});
  .closeNav & {
    width: calc(100% - #{$sidebarWidthClosed});
  }

  height: 0px;
  @include themeColor("background", $pomegranade, $pomegranade);
  color: $ice;
  position: fixed;
  overflow: hidden;
  transition-property: height, width;
  &.open {
    height: 70px;
  }

  .actionsSel {
    padding: 1.4rem;
    justify-content: space-around;
    display: flex;
    height: 100%;

    .clearSelections {
      display: block;
      @include themeColor("color", $ice, $ice);
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
      :hover {
        text-decoration: underline;
      }
    }

    .selectionCount {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: block;
      @include themeColor("color", $ice, $ice);
      cursor: none;
    }

    .actionSelBtn {
      text-align: center;
      display: block;
      order: 0;
      @include themeColor("color", $black_blue, $black_blue);
      @include themeColor("background-color", $ice, $ice);
      width: 7vw;
      height: auto;
      border-radius: $border-radius;
      cursor: pointer;
    }
  }
}
