//-----------------------------------------------------filters----------------------------------
@mixin inputsize($size) {
  flex: 1 1 $size;

  &.half {
    flex: 1 1 $size/2;
  }
  &.double {
    flex: 1 1 $size * 2;
  }
}

.filter-parent {
  margin-left: var(--section-padding);
  margin-right: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: sticky;
  top: $navSidebarTop;
  @include themeColor("background-color", $ice, $bluedarkbl);
  z-index: 1;

  border-bottom: var(--section-padding) solid;
  @include themeColor("border-color", $white, $black_blue);
}

.filters-padding {
  @include themeColor("background-color", $white, $black_blue);

  background: $white;
  border-radius: $border-radius;
  display: flex;
  flex-wrap: wrap;
}

.input-padding {
  input {
    width: 100%;
  }
  padding: 1.25rem;

  @include inputsize(16.6666%);
}
.filters-label {
  border-bottom: 1px solid;
  margin-bottom: 20px;
  padding: 4px 0px;
  @include themeColor("color", $bluedarkbl, $ice);
}

.filters-conatiner {
  transition: height 0.3s linear;
  height: auto;
  overflow: hidden;
}

//-----------------------------------------------------filters-end----------------------------------

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

tbody {
  tr {
    @include themeColor("background", $white, $black_blue);

    @media screen and (min-width: 600px) {
      &.selected {
        td {
          a {
            @include themeColor("color", $ice, $ice);
          }
        }
        .email {
          @include themeColor("color", $ice, $ice);
        }
        .flex-date {
          @include themeColor("color", $ice, $ice);
        }
        .actions-container {
          @include themeColor("color", $ice, darken($ice, 20%));
        }

        @include themeColor("background-color", lighten($bluedarkbl, 15%), $dark_blue);
        border-radius: $border-radius;
      }

      &:hover {
        td {
          a {
            @include themeColor("color", $ice, $ice);
          }
        }
        .email {
          @include themeColor("color", $ice, $ice);
        }
        .flex-date {
          @include themeColor("color", $ice, $ice);
        }

        .actions-container {
          @include themeColor("color", $ice, darken($ice, 20%));
        }

        background-color: $bluedarkbl;
        border-radius: $border-radius;
      }
    }
    background-color: $white;
    padding: 0.35em;
  }
}

thead {
  position: sticky;
  z-index: 1;
  transition: top 0.3s linear;
  tr {
    @include themeColor("border-color", $ice, $ice);
    @include themeColor("background-color", $ice, $light_grey);
    @include themeColor("color", $black_blue,$black_blue)

  }
}

table th,
table td {
  padding: 0.625em;
  text-align: center;

    a {
      @include themeColor("color", $blue_purple, $sky_blue);
    }



}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.title_mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .title_mobile {
    display: block;
    font-weight: bold;
    text-align: center;
  }
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: flex;
    font-size: 0.8em;
    text-align: center;
    flex-direction: column;
  }
  table .hide-t {
    display: none;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

//----------------------------------------filter arrows------------------------------
.filter-box {
  display: flex;
  align-items: center;
  width: 100%;
  @include themeColor("color", $black_blue, $ice);
}

.filter-title {
  flex: 1;
  text-align: center;
  @include themeColor("color", $black_blue, $black_blue);
}

img.filtericon {
  height: 20px;
}

.filters {
  display: flex;
  flex-direction: column;
}

//----------------------------------------date el------------------------------

.flex-date {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include themeColor("color", $black_blue, $ice);
  .selected & {
    @include themeColor("color", $ice, $black_blue);
  }
}

span.table-time {
  font-size: 10px;
}
//---------------------------------------------status ---------------------------------------
.status {
  display: flex;
  align-items: center;
  justify-content: center;
  &.isNotActive {
    color: $green2;
  }
  &.isActive {
    color: $red2;
  }
  .active-text {
    font-weight: 600;
  }
}

//-----------------------------------------------------action--------------------------------

.actions-container {
  display: flex;
  justify-content: space-around;
  @include themeColor("color",$dark_blue, darken($ice,25%));
  font-size: 120%;
  :hover {
    @include themeColor("color", $white, $white);
    cursor: pointer;
  }
}

//-----------------------------------------------------singleIcon--------------------------------

.singleIcon {
  &.red {
    color: $red2;
  }
  &.green {
    color: $green2;
  }
  &.noColor {
    color: $light_grey;
  }
}

//--------------------------------------DOMAIN NAME-----------------------------------------
.domain-name {
  display: flex;
  justify-content: center;
  align-items: center;
  .icon {
    color: $orange2;
    margin-right: 5px;
    &.hideIcon {
      opacity: 0;
    }
  }
  a.link {
    overflow: hidden;
  }
}

input[type="checkbox"] {
  transform: scale(1.4);
}

.selectionActionsContainer {
  bottom: 0%;
  width: calc(100% - #{$sidebarWidthClosed});
  height: 0px;
  @include themeColor("background", $black_blue, $pomegranade);
  color: $ice;
  position: fixed;
  overflow: hidden;
  transition: height 0.3s ease-in;
  &.open {
    height: 70px;
  }

  .actionsSel {
    padding: 1.4rem;
    justify-content: space-around;
    display: flex;
    height: 100%;

    .clearSelections {
      display: block;

      @include themeColor("color", $ice, $ice);
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
    }

    .selectionCount {
      display: block;

      @include themeColor("color", $ice, $ice);
      cursor: none;
    }

    .actionSelBtn {
      text-align: center;

      display: block;
      order: 0;
      @include themeColor("color", $black_blue, $black_blue);
      @include themeColor("background-color", $ice, $ice);
      width: 7vw;
      height: auto;
      border-radius: $border-radius;
      cursor: pointer;
    }
  }
}
