
//nav menu colors

          nav.sidebar.navbar {         
            background: $black_blue;
            &.right{
               background:rgb(73, 43, 43);

            }
        }
        
        nav.sidebar.top {          
            background-color: $white;         
        }
       
        
        .logo {        
            background: $ice;
        }
   



      .dark{

      }
