//nav menu colors
.noTransition *{
  transition:none !important;
}

.side-nav-list span.icon-fi-sr-power.icon-t{
   color:$red2;

}
.side-nav-list span.icon-fi-sr-sign-out.icon-t{
   color:$dark_blue ;

}

nav.sidebar.navbar {
  background: $black_blue;
  .close-menu {
   fill: $ice;
}
.arrow {
fill: $black_blue;
}
}
nav.sidebar.navbar.right {
   background: $white;
   .close-menu {
      fill: $black_blue;
  }
  .arrow {
   fill: $white;
}
 }
nav.sidebar.top {
  background-color: $white;
}
.logo {
  background: $ice;
}
.nav-text1 {
  color: $black_blue;
}
.navdown {
  color: $light_grey;
}
nav.sidebar.navbar li.nav-list-item2 {
  color: $light_grey;
 
}
nav.sidebar.navbar.right li.nav-list-item2 {
   color: $black_blue;
  
 }

nav.sidebar.navbar .img-box span.nav-icons-side {
  color: $light_grey;
}
nav.sidebar.navbar  .opennav1 .img-box span.nav-icons-side {
  color: $black_blue;
}
nav.sidebar.navbar.right .img-box span.nav-icons-side {
   color: $black_blue;
 }
nav.sidebar.top {
  background: $green2;
}
nav.sidebar.top .nav-list.list1 .custom-popup {
  background: $white;
}
nav.sidebar.top .nav-list.user-icons .nav-icon-3 .rel-icon .num {
  background: $red2;
  color: $white;
}
nav.sidebar.top .nav-list-item span.user_mail {
  color: $black_blue;
}
body nav.sidebar.navbar
  li.nav-list-item2.nav-list-item2.opennav1,
body.closeNav.hover
  nav.sidebar.navbar
  li.nav-list-item2.nav-list-item2.opennav1 {
  color: $black_blue;
  background: $ice;
}
body:not(.closeNav)
  nav.sidebar.navbar
  li.nav-list-item2.nav-list-item2.opennav1
  a,
body.closeNav.hover
  nav.sidebar.navbar
  li.nav-list-item2.nav-list-item2.opennav1
  a {
  color: $black_blue;
}
body:not(.closeNav)
  nav.sidebar.navbar
  li.nav-list-item2.nav-list-item2.opennav1
  .img-box
  span.nav-icons-side,
body.closeNav.hover
  nav.sidebar.navbar
  li.nav-list-item2.nav-list-item2.opennav1
  .img-box
  span.nav-icons-side {
  color: $black_blue;
}
input.search-top {
  border: 0.025rem solid $light_grey;
}
.search-cont {
  border: 0.025rem solid $light_grey;
  background-color: $ice;
}
.arrow-div {
  background-color: $white;
}
.popup-notifications {
  background: $white;
}
.message {
  background: $ice;
}
.message.color1 {
  border-color: $red;
}
.message.color2 {
  border-color: $orange2;
}
.message.color3 {
  border-color: $green2;
}

 
nav.sidebar.navbar {
  background: $black_blue;
}

nav.sidebar.top {
  background-color: $white;
}
.logo {
  background: $ice;
}

.curve.c1 {
  fill: $white;
}
.curve.c2 {
  fill: $ice ;
}

.backg{
  
  fill:$black_blue;


}


  input.search-top::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $light_grey;
    opacity: 1; /* Firefox */
  }

  input.search-top::-webkit-input-placeholder { /* Edge */
    color: $light_grey;
  }
  
  input.search-top:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $light_grey;
  }





/*Dark Mode*/


.dark {

  
.side-nav-list span.icon-fi-sr-power.icon-t{
  color:$red2;

}
.side-nav-list span.icon-fi-sr-sign-out.icon-t{
  color:$sky_blue ;

}

nav.sidebar.navbar {
 background: $black_blue;
 .close-menu {
  fill: $ice;
}
.arrow {
fill: $black_blue;
}
}
nav.sidebar.navbar.right {
  background: $black_blue;
  .close-menu {
     fill: $ice;
 }
 .arrow {
  fill: $black_blue;
}
}
nav.sidebar.top {
 background-color: $black_blue;
}
.logo {
 background: $bluedarkbl;
}
.nav-text1 {
 color: $ice;
}
.navdown {
 color: $light_grey;
}
nav.sidebar.navbar li.nav-list-item2 {
 color: $light_grey;

}
nav.sidebar.navbar.right li.nav-list-item2 {
  color: $ice;
 
}

nav.sidebar.navbar .img-box span.nav-icons-side {
 color: $light_grey;
}
nav.sidebar.navbar.right .img-box span.nav-icons-side {
  color: $ice;
}
nav.sidebar.top {
 background: $green2;
}
nav.sidebar.top .nav-list.list1 .custom-popup {
 background: $black_blue;
 border: solid $ice 0.02rem;
}
nav.sidebar.top .nav-list.user-icons .nav-icon-3 .rel-icon .num {
 background: $red2;
 color: $white;
}
nav.sidebar.top .nav-list-item span.user_mail {
 color: $black_blue;
}
&:not(.closeNav)
 nav.sidebar.navbar
 li.nav-list-item2.nav-list-item2.opennav1,
&.closeNav.hover
 nav.sidebar.navbar
 li.nav-list-item2.nav-list-item2.opennav1 {
 color: $white;
 background: $bluedarkbl;
}
&:not(.closeNav)
 nav.sidebar.navbar
 li.nav-list-item2.nav-list-item2.opennav1
 a,
&.closeNav.hover
 nav.sidebar.navbar
 li.nav-list-item2.nav-list-item2.opennav1
 a {
 color: $light_grey;
}
&:not(.closeNav)
 nav.sidebar.navbar
 li.nav-list-item2.nav-list-item2.opennav1
 .img-box
 span.nav-icons-side,
&.closeNav.hover
 nav.sidebar.navbar
 li.nav-list-item2.nav-list-item2.opennav1
 .img-box
 span.nav-icons-side {
 color: $white;
}
input.search-top {
 border: 0.025rem solid $bluedarkbl;
}
.search-cont {
 border: 0.025rem solid $bluedarkbl;
 background-color: $white;
}
.arrow-div {
 background-color: $ice;
 border: solid $ice 0.1rem;
}
.popup-notifications {
 background: $bluedarkbl;
 border: solid $ice 0.1rem; 
}
.message {
 background: $blue_grey;
}
.message.color1 {
 border-color: $red;
}
.message.color2 {
 border-color: $orange2;
}
.message.color3 {
 border-color: $green2;
}


nav.sidebar.navbar {
 background: $black_blue;
}

nav.sidebar.top {
 background-color:$black_blue;
}
.logo {
 background: $bluedarkbl;
}
  
.logo-text {
  color: $white

}

span.text1{
  color: $white
}

.rel-icon {
  color: $white
}

.flex-c {
    color:$white

}
.burger-menu {
color:$white;

}

input.search-top {
  background: $bluedarkbl;
}

main {
background-color: $bluedarkbl;

}

.bg-light {

  background-color: $bluedarkbl ;
}

.curve.c1 {
  fill: $black_blue ;
}
.curve.c2 {
  fill: $bluedarkbl ;
}

.section-main {

  background-color: $black_blue;
}

.body-container {

  background-color:$bluedarkbl ;

}

& nav.sidebar.navbar
  li.nav-list-item2.nav-list-item2.opennav1,
& .closeNav.hover
  nav.sidebar.navbar
  li.nav-list-item2.nav-list-item2.opennav1 {
    
  color: $white;
  background:  $bluedarkbl;

}
.relative {
  color: $ice;
}

.close-menu-cont.right{

  border-left: 10px solid $ice;
}

.backg{
  
  fill:$ice;

}


  background-color: $bluedarkbl;


  input.search-top::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $ice;
    opacity: 1; /* Firefox */
  }

  input.search-top::-webkit-input-placeholder { /* Edge */
    color: $ice;
  }
  
  input.search-top:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $ice;
  }
  
  
}
